.wrapper {
   width: 80%;
   min-height: calc(96vh - 50px);
   padding: 10% 5%;
}

.stdout {
   margin: 0px auto;
   padding: 0px $normal-distance;
}

.ls {
   color: $ls-color;
   margin: 0px auto;
   padding: $normal-distance $normal-distance;
}

.cat {
   color: $cat-color;
   margin-top: $min-distance;
   padding: $min-distance;
   text-align: left;
}

.highlight {
   color: $highlight-color;
}

.inline {
   display: inline;
   text-align: right;
}
