<!DOCTYPE html>
{% include head.html %}
<body>
   {% include header.html%}
      <div class="wrapper">
         <center><h3>127.0.0.1</h3></center>
         <p class="cat">
         Hi there,
         </br></br>
         I hope you like the theme so far, sorry for the initial bugs, we are still working on improvements.</br>
         Feel free to add some stuff to the _layouts/home.html in order to get rid of this annoying content.

         Otherwise enjoy and feel free to contact me.
         Don't forget to add a site.author variable to your _config.yml in order to fill the user name in the upper and lower rows.
         </br></br>
         Take care, </br></br>
         Squifi.
         {{ content }}
         </p>
      </div>
   <h4>[{{site.author}}@{{ site.url | escape }} ~]$ <a href="/">cd ~</a></h4>
   {% include footer.html %}
</body>
</html>
