<!DOCTYPE html>
{% include head.html %}
<body>
   {% include header.html%}
      <div class="wrapper">
         <center><h3>127.0.0.1</h3></center>
         <p class="cat">
         Hi there,</br>
         welcome to the unicorn.university. A place for CTF - Writeups</br> 
         and other fun stuff. Check the links in the top row for the
         </br>
         current categories.</br></br>
         Enjoy.
         </br></br>
         Heddha and Squifi.
         </p>
      </div>
   <h4>
    [{{site.author}}@{{ site.url | escape }} ~]$ 
        <a href="/">cd ~</a>
    </h4>
   {% include footer.html %}
</body>
</html>
